<!-- Services Section -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#more").click(function(){
    $("#morefenster").slideToggle("slow");
  });
});
</script>
<style type="text/css">
#morefenster {
width:800px;
background: white;
position:absolute;
top:200px;
left:50%;
margin-left:-400px;
display:none;
}
#morefenster p {
color:white;
padding:15px;
text-align:justify;
}
#more {
width:70px;
height:20px;
background:#daa520;
color:white;
position:absolute;
top:182px;
left:50%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
</style>

#img-big {
    width: 300px;
    height: 700px;
    border-radius: 50%;
}




<section id="kuenstler">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Musiker</h2>
                    <h3 class="section-subheading text-muted">scrollen Sie nach unten für die ganze Auswahl an Musikern für Ihre Hochzeit</h3>
                </div>
            </div>
                                                            <!--- GESANG--->     
            <div> <center><h3> Gesang </h3> </center> 
            
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/musiker/mel-man.jpg" alt="Melanie Manske" class="img-round">
                        <h4 class="service-heading">Melanie Mankse</h4>
                    </div>
                
                    <p class="text-muted">... begann bereits im Jahr 2001 mit Gesangsunterricht bei der Hannoveraner Gesangsdozentin .... und spielte unter anderem 2015 in der Oper "Der Kaffekrieg in Paderborn" mit. <br>
                    Ihre Spezialitäten sind folgende Bereiche</p>
                    

                    <ul class="text-muted">
                        <li>Klassik</li> 
                        <li>Musical</li> 
                    </ul> 
                </div>
                
                
                    <div class="col-md-6">
                    <div class="text-center">
                        <a href="koehn" target="_blank"><img src="img/musiker/tokoe2.png" alt="Tobias Koehn" class="img-list">
                            <h4 class="service-heading">Tobias Koehn</h4> </a>
                    </div>
                    <p class="text-muted">... ist unsere Allzweckwaffe im Bereich Gesang und Klavier. Von Mozart bis Michael Bublé ist alles dabei. Im Laufe seiner Gesangsausbildung nahm und nimmt er Untericht bei Gesangsdozenten sowohl aus dem klassischen Bereich, genauso wie im Bereich Pop, Jazz und Musical.  <br> 
                        
                        <!---Tobias Köhn nahm bereits Unterricht bei namhaften Dozenten wie Daniel Claus Schäfer (HMTM Hannover, HFM Detmold), Lars Oliver Rühl (Musikhochschule Mannheim; Jazz- und Popgesang). --> 
                    
                </div>
                
            </div>                                             <!---Saxophon--->
            
          <div>            <div> <center><h3> Saxophon </h3> </center> 
                
                          
                    <div class="col-md-3">
                    <div class="text-center">
                        <img src=>
                        <h4 class="service-heading"></h4>
                    </div>
                    <p class="text-muted"> <br>
                        
                        </p>
              </div>
                        
                          
            <div class="row">
                    <div class="col-md-6">
                    <div class="text-center">
                       
                
                          
            <div class="row">
                    <div class="col-md-12">
                    <div class="text-center">
                        <img src="img/musiker/adoerk1.png" alt="Adrian Doerk" class="img-list">
                        <h4 class="service-heading">Adrian Doerk</h4>
                    </div>
                
                    <p class="text-muted">unser Allroundtalent im Team. Beginnend mit dem Saxophon erarbeitete er sich, während des Studiums der Schulmusik mit dem Hauptfach Saxophon, die Instrumente Klavier und Gitarre, mit denen er unter anderem im Bandkontext für einen abgerundeten Sound sorgt.
                        </p>
                </div>
                        </div>
                       
                    
                    </ul> 
                </div>
                
                

            </div>
                        </div>
                                                    
            
                                                <!--- Flöte die alte Tröte--> 
                
                <div>             <div> <h3> Querflöte </h3> 
</div>
                    
                     </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/musiker/hstieren.png" alt="hannah stieren" class="img-list">
                     
                        
                        
                        
                    </div>
                    
                    <h4>Hannah Stieren</h4>   <div id="more">Details</div>
                    <p class="text-muted"> ...sammelte bereits in jünsten Jahren Erfahrungen im örtlichen Musikverin und später im Bereich der Tanzmusik. Sie unterrichtet Querflöte und studiert an der Universität Paderborn
                    </p>
                
                <div id="morefenster"> <!-- Foto hstieren2 ist nur Bspl Foto. Leider kann ich keine neue Fotoform in style.css definieren, um ein Foto von ca 300x600 px zu definieren. das wäre hier nötig, damit ein großes Foto erscheint, wenn mana aufklappt. --> 
                    
                    <img src="img/musiker/hstieren2.jpg" alt="hannah stieren" class="img-round" > <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>text asd asd ijjfasdfjsakdfjsahdfhasdjfhlksjdhkahsdfkjhsakdfhlkasdhf  sakdfjh jdfh ueh uhfjsdhfu efh suehf jsdf hfu shdj ksuf uehfksdfkadsf ösjfhoewh kshf <br> </p>
                    
                        
                    
                    
                    
                 </div>
             
                </div>
            </div>
        </div>
    </section>
