
<section id="kuenstler">
    
    
    
    
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#more").click(function(){
    $("#morefenster").slideToggle("slow");
  });
});
$(document).ready(function(){
$("#more2").click(function(){
    $("#morefenster2").slideToggle("slow");
  });
});    

$(document).ready(function(){
$("#more3").click(function(){
    $("#morefenster3").slideToggle("slow");
  });
});    

$(document).ready(function(){
$("#more4").click(function(){
    $("#morefenster4").slideToggle("slow");
  });
});    
$(document).ready(function(){
$("#more5").click(function(){
    $("#morefenster5").slideToggle("slow");
  });
});    
$(document).ready(function(){
$("#more6").click(function(){
    $("#morefenster6").slideToggle("slow");
  });
});    
$(document).ready(function(){
$("#more7").click(function(){
    $("#morefenster7").slideToggle("slow");
  });
});    
$(document).ready(function(){
$("#more8").click(function(){
    $("#morefenster8").slideToggle("slow");
  });
});    
    $(document).ready(function(){
$("#more9").click(function(){
    $("#morefenster9").slideToggle("slow");
  });
});    
$(document).ready(function(){
$("#more10").click(function(){
    $("#morefenster10").slideToggle("slow");
  });
});    
    


    </script> 
<style type="text/css">
#morefenster {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p {
color:white;
padding:15px;
text-align:justify;
}
#more {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
#morefenster2 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p2 {
color:white;
padding:15px;
text-align:justify;
}
#more2 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    
    #morefenster3 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p3 {
color:white;
padding:15px;
text-align:justify;
}
#more3 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    #morefenster4 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p4 {
color:white;
padding:15px;
text-align:justify;
}
#more4 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    
    #morefenster5 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p5 {
color:white;
padding:15px;
text-align:justify;
}
#more5 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    
    #morefenster6 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p6 {
color:white;
padding:15px;
text-align:justify;
}
#more6 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    #morefenster7 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:240px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p7 {
color:white;
padding:15px;
text-align:justify;
}
#more7 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    #morefenster8 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p8 {
color:white;
padding:15px;
text-align:justify;
}
    #more8 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
    #morefenster9 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p9 {
color:white;
padding:15px;
text-align:justify;
}
#more9 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:55%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
     
#morefenster10 {
width:100%;
border-style:inset;
border-radius:20px;
background: #a698b6;
frame:1px;
position:absolute;
top:180px;
left:80%;
margin-left:-80%;
display:none;
z-index: 1; 
}
#morefenster p10 {
color:white;
padding:15px;
text-align:justify;
}
#more10 {
width:78px;
height:19px;
background:#4e326e;
color:white;
position:absolute;
top:145px;
left:45%;
margin-left:-200px;
text-align:center;
font-size:12px;
font-weight:300;
cursor:pointer;
}
 

   

    
</style>

    
    </script>    

    </head>

    
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Musiker|Bands</h2>
                    <h3 class="section-subheading text-muted">Scrollen Sie nach unten für die ganze Auswahl an Musikern und Bands für Ihre Hochzeit. <br> Um die Hörbeispiele aufzurufen und zu schließen, klicken Sie bitte auf die Schaltfläche "Hörbeispiele".</h3>
                </div>
                
                
                
            </div>
            
            <div id="trauung"></div>   
        
                    
             <div class="divbg2"> <center><h2> Trauung <br> <br> </h2> 
                 <div class="infobox"> <div class="section-subheading text-muted"><font color="white"><center>Unser spezielles Angebot für Sie: <br> Suchen Sie sich für Ihre Trauung die Musiker aus, die Ihnen gefallen. Unsere professionellen Musiker werden dann Ihr Wunschprogramm erarbeiten. </center> </font></div> </div>  </center>
                                                            <!--- GESANG Zeile 1--->     
            <div class="divbg2"> <center><h3> Gesang </h3> </center> 
            
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">        
                        <img src="img/musiker/mel-man.jpg" alt="Melanie Manske" class="img-round-border">
                        <h4 class="service-heading">Melanie Mankse</h4>
                   
                
                    <p class="text-muted">... begann bereits im Jahr 2001 mit klassischem Gesangsunterricht und ist unser Aushängeschild im Bereich klassischer Gesang. <br> <br>
                    

                   </div>
                    
                    <div id="more">Hörbeispiele</div> 
                    
                    <div id="morefenster">
                   <br>    Melanie Manske nimmt bereits seit 2001 klassischen Gesangsuntericht und hat sich auf den Bereich klassischen Gesang und Musical spezialisiert. Sie hat bereits an vielen musikalischen Projekten teilgenommen und sang unter anderem im Jahr 2015 in der "Paderborner Kaffee-Krieg-Oper".
                       <br> <br> 
                      <center><h4>Hörbeispiele</h4> </center>  
                        <div style="text-align:center;"> <iframe width="100%" height="100" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233594767%3Fsecret_token%3Ds-r9W6n&amp;color=4e326e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> </div>
                        <br>
                    </div>        
                </div>
                                                   
                
                
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/musiker/Tokoehandklein2.png" alt="Tobias Koehn" class="img-round-border">
                            <h4 class="service-heading">Tobias Koehn</h4> </a>
                    
                <p class="text-muted">... ist unsere Allzweckwaffe im Bereich Gesang und Klavier. Von Mozart bis Michael Bublé ist alles dabei. Im Laufe seiner Gesangsausbildung nahm und nimmt er Unterricht bei verschiedenen Gesangsdozenten, sowohl aus dem klassischen Bereich, als auch im Bereich Pop, Jazz und Musical.     </p> </div>
                
                <div id="more2">Hörbeispiele</div> 
                      
                <div id="morefenster2">
                       <br> Tobias Köhn, Sänger und Pianist in Personalunion. Mit seiner Band "Groove Juice", gepaart mit verschiedenen Auftritten als Solokünstler, sammelte er bereits vielfältige Erfahrungen in verschiedenen Genres.
<br>
Buchungen unter anderem von der Universität Paderborn und der Stadt Brakel. <br> 
                    
                      <center><h4>Hörbeispiele</h4> </center>  
                      <div style="text-align:center;"> <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218908791&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                 <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/219624115&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                          </div>
                    
                </div>
                
            </div>                                  <!-- GESANG Zeile 2 -->
    <div class="row">
               <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/musiker/jfinger_profil.jpg" alt="J Finger" class="img-round-border">
                            <h4 class="service-heading">Julia Finger</h4> </a>
                    </div>
                <p class="text-muted">... ist musikalisch im Bereich Musical, Pop und Jazz zuhause.  </p>
                
                <div id="more3">Hörbeispiele</div> 
                      
                <div id="morefenster3">
                       <br>Julia Finger kommt aus Soest und hat schon in Kindertagen jede Gelegnheit genutzt, um zu singen und zu musizieren. Seit ihrem Studienbeginn im Jahr 2014 ist sie Frontsängerin der Unity Big Band Paderborn, studiert Gesang und bereichert seit einiger Zeit auch das Paderborner Musical-Leben. 2015 spielt sie in dem Musical "Adam und Eva" die Hauptrolle als Eva. Ihr zweites Instrument im Studium ist das Saxophon, welches sie auch in verschiedenen musikalischen Kontexten. Gerne spielt sie auch Ihrer Feier ein Stück mit dem Saxophon.
<br>
<br> 
                    
                      <center><h4>Hörbeispiele</h4> </center>  
                      <div style="text-align:center;"> Hörbeispiele sind in Produktion</div>
                          </div>
                    
                </div>
            
            
                
            </div>



</div> <br> <br>                                          <!---Saxophon--->
            
          <div>            <div> <center><h3> Saxophon </h3> </center> 
                
                          
                    <div class="col-md-3">
                    <div class="text-center">
                        <img src=>
                        <h4 class="service-heading"></h4>
                    </div>
                    <p class="text-muted"> <br>
                        
                        </p>
              </div>
                        
                          
            <div class="row">
                    <div class="col-md-6">
                    <div class="text-center">
                       
                
                          
            <div class="row">
                    <div class="col-md-12">
                    <div class="text-center">
                        <img src="img/musiker/adoerk1.png" alt="Adrian Doerk" class="img-round-border">
                        <h4 class="service-heading">Adrian Doerk</h4>
                    </div>
                
                    <p class="text-muted">... ist unser Allroundtalent im Team. Beginnend mit dem Saxophon erarbeitete er sich, während des Studiums der Schulmusik mit dem Hauptfach Saxophon, die Instrumente Klavier und Gitarre, mit denen er unter anderem im Bandkontext für einen abgerundeten Sound sorgt.
                        </p>
                        
                        <div id="more5">Hörbeispiele</div> 
                      
                <div id="morefenster5">
                       <br> ... ist unser Allroundtalent im Team. Beginnend mit dem Saxophon erarbeitete er sich, während des Studiums der Schulmusik mit dem Hauptfach Saxophon, die Instrumente Klavier und Gitarre, mit denen er unter anderem im Bandkontext für einen abgerundeten Sound sorgt.
<br>
Seine instrumentalen Erfahrungen reichen von der Big Band über brilliantes Jazz-Saxophon bis hin zu ruhigen und einfühlsamen Balladen.<br> 
                    
                      <center><h4>Hörbeispiele</h4> </center>  
                      <div style="text-align:center;"> <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233596687%3Fsecret_token%3Ds-2knc5&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                          </div>
                    
                </div>
                </div>
                        </div>
                       
                    
                    </ul> 
                </div>
                
                

            </div>
                        </div>
                                                    
            
                                                <!--- Flöte die alte Tröte--> 
                
                         <div> <h3> Querflöte </h3> 

                    
                     
                <div class="col-md-6">
                    <div class="text-center">
                       <img src="img/musiker/hstieren.png" alt="hannah stieren" class="img-round-border"> 
                        
                        
                  
                    
                    
                    <h4>Hannah Stieren</h4>   <!--<div id="more">Details</div> -->
                    <p class="text-muted"> ...sammelte bereits in jüngsten Jahren Erfahrungen im örtlichen Musikverein und später im Bereich der Tanzmusik. Sie unterrichtet Querflöte und studiert an der Universität Paderborn.
                    </p> </div>
                    <div id="more6">Hörbeispiele</div> 
                    
                    <div id="morefenster6">
                       
                      <center><h4>Hörbeispiele</h4> </center>  
                        <div style="text-align:center;"><iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233596690%3Fsecret_token%3Ds-JrCFx&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> </div>
                     <br>  <br> <br>   
                    </div>
                 </div>
             
                </div> 
</div>
</div>

        
                                        <!-- Dinner --> 
<div class="container"> 
            <div class="row">
                <div class="col-lg-12 text-center">
                </div></div><div id="dinner"></div>
                <br> <br> <br>
            
            
             <div class="divbg2"> <center><h2> Bar Piano | Dinner Music  </h2> </center>
            
               
                        
                          
            <div class="row">
                    <div class="col-md-6">
                    <div class="text-center">
                                                                         
            <div class="divbg2"> <center><h3>  </h3> </center> 
            
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">        
                        <img src="img/musiker/Fluegel.png" alt="Bar Piano" class="img-round">
                        <h4 class="service-heading">Bar Piano</h4>
                    </div>
                
                    <p class="text-muted">Von modernen Songs über Jazz Standards bis hin zu Evergeens verleiht ein Bar Piano Ihrer Veranstaltung einen Hauch von Glamour <br> <br>
                    

                  
                    
                    <div id="more7">Hörbeispiele</div> 
                    
                    <div id="morefenster7">
                      <center><h4>Hörbeispiele</h4> </center>  
                        <div style="text-align:center;"> <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236098772%3Fsecret_token%3Ds-wfSPa&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                        <br> <br>
                    </div>        
                </div>
                </div>
                </div>
                </div>
                </div>
                 
         
                        
                          
            <div class="row">
                    <div class="col-md-6">
                    <div class="text-center">
                                                                         
            <div class="divbg2"> <center><h3>  </h3> </center> 
            
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">        
                        <img src="img/musiker/bgsax1.jpg" alt="Bar Piano" class="img-round">
                        <h4 class="service-heading">Jazz Duo Saxophon|Gitarre</h4>
                    </div>
                
                    <p class="text-muted">unser Dinner Duo verleiht Ihrer Veranstaltung einen ganz besonderen Flair.<br> <br>
                    

                  
                    
                    <div id="more10">Hörbeispiele</div> 
                    
                    <div id="morefenster10">
                      <center><h4>Hörbeispiele</h4> </center>  
                        <div style="text-align:center;"> <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235471209%3Fsecret_token%3Ds-bg6l4&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            
                            <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235471393%3Fsecret_token%3Ds-YRP6R&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            
                            <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235470840%3Fsecret_token%3Ds-rQOyH&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                        
                        </div>
                        <br> <br>
                    </div>        
                </div>
                </div>
                </div>
                </div>
                </div>
               </div>
    </div>
<br><br><br>
     


                                        <!-- Party --> 

<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   </div></div><div id="party"></div>
                <br> <br> <br>
    <div class="divbg2"> <center><h2> Party Bands </h2> </center>
                </div>
            </div>
    
            
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">        
                        <img src="img/musiker/ddudes_logo_small.png" alt="dizzydudes" class="img-round-border">
                        <h4 class="service-heading">The Dizzy Dudes</h4>
                    <center><b>Rock'n'Roll</b></center> 
                
                    <p class="text-muted"> Wenn Robbie Williams auf dem Kontrabass klettert... <br> <br>
                    
</div>
                  
                    
                    <div id="more8">Hörbeispiele</div> 
                    
                    <div id="morefenster8">
                <br> Die unübersehbare Lust nach purem Spaß an Musik und Hüftschwung verbindet den klassischen Rock'n'Roll mit modernen Songs zu einer unverkennbaren Eigenart. Melodien, die zum Mitsingen zwingen, umhüllt von tanzbaren Rhythmen, markanten Riffs und einem rollenden Bass bringen die Bude zum Wackeln! <br>
Das Repertoire umfasst selbst geschriebene Werke, wie auch neu interpretierte Coversongs. 
                        Die Dizzy Dudes entführen ihr Publikum in eine Reise durch die Zeit von unsterblichen Evergreens bis hin zu ganz aktuellen Hits im klaren, puristischen Sound des Rock'n'Rolls. Songs von den White Stripes, Robbie Williams, Sting und den Beatles bis hin zu Ray Charles und den Blues Brothers werden in einen niedlich verrückten Petticoat gepackt. 

                       <br> <br> 
                      <center><h4>Hörbeispiele</h4> </center>  
                        <div style="text-align:center;"> <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235464066%3Fsecret_token%3Ds-nhSW1&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> 
                        <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235464064%3Fsecret_token%3Ds-0g1gc&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235464030%3Fsecret_token%3Ds-bZrZL&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                        </div>
                        <br>
                    </div>        
                </div>
                                                   
                
                
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/musiker/gj.png" alt="Groove Juice" class="img-round-border">
                            <h4 class="service-heading">Groove Juice</h4> </a>
                     <center><b>Soul, Pop, Rock, Funk</b></center>
                <p class="text-muted">100% live – Pop, Funk und Soul für Ihre Gala, Messe-Party oder Ihr Stadtfest! 
Mit einer Mischung aus alten Klassikern von Stevie Wonder, Bill Withers oder Aretha Franklin und neuen Party-Krachern von Jessie J, Bruno Mars oder Daft Punk sorgen wir für Stimmung und Tanzfreude auf Ihrer Veranstaltung!   </p></div>
                
                <div id="more9">Hörbeispiele</div> 
                      
                <div id="morefenster9">
<br> 
                    
                      <center><h4>Hörbeispiele</h4> </center>  
                      <div style="text-align:center;"> <iframe width="560" height="315" src="https://www.youtube.com/embed/_muRcHBftVM?rel=0" frameborder="0" allowfullscreen></iframe> <br><br></div>
                          </div>
                    
                </div>
                
            </div>      

    


</div>
</div>


<script src="js/lightbox.js"></script>
    </section>
