<style>
    
<style type="text/css">
    
    #taborder{
        border: 1px;
        border-color: blueviolet;
    }
</style>



<section id="repertoire" class="bg-light-gray">
        
     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Repertoire</h2>
                    <h3 class="section-subheading text-muted">Im Bereich Hochzeitsmusik gibt es eine Reihe von Songs, die immer wieder gewünscht werden. Wenn Sie noch eine auf der Suche nach einer Idee sind, können Sie sich hier inspirieren lassen. Sollte Ihr Wunschsong hier nicht aufgeführt sein, werden wir diesen natürlich bis zu Ihrer Hochzeit einstudieren.</h3>
                
                </div>
                
   <div class="row">
                <div class="col-md-6">
                    <div class="text-center">        
                         <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1144004193%3Aplaylist%3A1wszFWYPUIYnjbveaFOz5z" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                
                    <center> <p class="text-muted"> Zehn beliebte Hochzeitslieder als Spotify Playlist<br> <br> </center>
                    

        
                            </div>
            

        


       
            
            <div class="row">
                <div class="col-md-6">
                    <div>
      
                        <table class id="taborder">
  <col width="250px">
                            
                            <tr>
   
    <th>Titel</th>
    <th>Interpret</th>
  </tr>
            
  <tr>
    
    <td>Hallelujah</td> <td>Leonard Cohen</td>
  </tr>
  <tr>
    <td>Ave Maria</td> <td>Bach/Gounod</td></tr>
<tr><td>Can you feel the Love tonight  </td> <td>Sir Elton John</td></tr>
<tr><td>You'll be in my Heart</td> <td>Phil Collins</td></tr>        
<tr><td>And I love you so</td> <td>Elvis Presley</td></tr>
<tr><td>You raise me up</td> <td>Westlife</td></tr>
<tr><td>Your Song</td> <td>Sir Elton John</td></tr>
<tr><td>When you say nothing at all</td> <td>Ronan Keating</td></tr>
<tr><td>You are so beautiful</td> <td>Joe Cocker</td></tr>
<tr><td>Stand by me</td> <td>Ben E. King</td></tr>
</table>
                    </div>
                
                   
                    
                    
                </div>
                </div>
            </div>
        
            
            
            
        
    </section>
