<!-- Team Section -->
    <section id="kontakt" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Buchung</h2>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/logo.png"  alt="Logo">
                        <h4>Buchungsanfrage</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Haben wir Ihr Interesse geweckt? <br> Rufen Sie uns an oder schreiben Sie uns eine eMail für eine unverbindliche Buchungsanfrage. </p>
                </div>
            </div>
        </div>
    </section>